 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a web developer focusing on JavaScript and TypeScript, currently learning Angular. 
                        For some time I have been testing software, learning C# and C. 
                        I am not a stranger to HTML and CSS either.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>I like art in all of it's forms, I play a little bit of music and in my free time I like to work on projects 
                        which are visually interesting. Sometimes I write, too.
                    </p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
